.new-task-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.new-task-input,
.new-task-textarea {
    width: 20%; /* Ajuste conforme necessário */
    margin: 5px 0; /* Espaçamento entre os elementos */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}