.HeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap; /* Permite que os elementos quebrem linha em telas menores */
}

.Logobox {
    display: flex;
    align-items: center;
    padding: 5px 0 0 5px;
    cursor: pointer;
}

.LogoImg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.SearchContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adiciona margem superior para espaçamento em telas menores */
}

.Search {
    background-color: #171717;
    border-radius: 20px;
    width: 50%; /* Aumenta a largura do input */
    border: 1.5px solid gray; /* Define a cor das bordas como branca */
    padding: 10px; /* Adiciona padding para melhor aparência */
    box-sizing: border-box; /* Inclui o padding e a borda no tamanho total */
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .Search {
        width: 70%; /* Ajusta a largura do input em telas menores */
    }
}

@media (max-width: 480px) {
    .Search {
        width: 90%; /* Ajusta a largura do input em telas muito pequenas */
    }

    .HeaderContainer {
        flex-direction: column; /* Alinha os elementos em coluna em telas muito pequenas */
        align-items: center;
    }

    .Logobox {
        margin-bottom: 10px; /* Adiciona margem inferior para espaçamento em telas muito pequenas */
    }
}